<div class="container mt-3">
    <div class="row mb-3">
      <div class="col-12 d-flex justify-content-center ">
          <img class="img-fluid Avatar " src="./../../assets/fot1.jpg">
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 text-center mb-md-5">
          <h1 class="display-2 Titulo text-info"> <strong>{{items.title}}</strong> </h1>
      </div>
      <div class="col-12 text-justify">
        <h3 class="Cuerpo text-secondary"> {{items.body}} </h3>
      </div>
    </div>   
</div>